{% extends 'base.html' %}


{% block title %} Room {{ room_code }} {% endblock %}

{% block style %}

<style>
    /*
    .game-area {
    
        width: 500px;
        height: 500px;
        background-color: white;
    }

    */

</style>



{% endblock %}


{% block main %}

    <div class="new">
    </div>

    <div class="d-flex justify-content-center align-items-center">
        <div id="game-area">

                <button id="start-game">Start game</button>
            
            <div class="player-area">
            
            
               
            </div>
        
        </div>

    </div>



{% endblock %}




{% block script %}

     <script type="text/javascript" charset="utf-8">

        $(function() {

            const game_area = $('#game-area');
            let player_area = $('.player-area');
            
            const roomCode = "{{ room_code }}";

            let socket = io();

            socket.emit('join_room', { room: roomCode });
            socket.on('user_joined', (data) => {
                 let new_user = data.username;
        
                 $('.new').append(`HELLO ${new_user}`);
            });


            /*
            socket.on('room_state', (data) => {
                player_area.empty();
                data.players.forEach((username) => {
                    const html = `
                        <div data-player="${username}"> 
                            <div> 
                                <h1>${username}</h1>
                            </div>
                        </div>
                        `;
                        player_area.append(html);
                });
            });
            socket.emit('check_state', { room: roomCode });
                        */

            socket.on('game_initialization', (data) => {
                let shoe = data.shoe;
                console.log(shoe);
            });

            $('#start-game').on('click', function() {
                socket.emit('start_game', {room: roomCode});
            });
                
        });

          


        
     </script>
{% endblock %}